* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Nats, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    
}

.form-wrapper {
    width: 50%;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px; /* Limite para garantir que o formulário não seja muito largo */
}

.right-gradient {
    width: 50%;
    height: 100vh; /* Garante que o gradiente ocupe a altura total da tela */
    background: linear-gradient(145deg, #2F00FF 16%, #CB0000 39%, #FF5EA9 50%);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo {
    display: block;
    margin-bottom: 20px;
    max-width: 150px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="select"]{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #1a73e8;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group a {
    color: #1a73e8;
}

.btn {
    width: 100%;
    background-color: #1a73e8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.button {
    width: 100%;
    background-color: #FF8AC1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #1559c1;
}
.button:hover {
    background-color: #ed2481;
}

p {
    margin-top: 20px;
    color: #333;
}

p a {
    color: #e91e63;
    text-decoration: none;
}
